<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="NotifierIntervalMinute" value="42"/>
      <add key="NotificationMessage" value="为了世界和平与身体健康！！\r\n久坐一个番茄种后站起来动一动，喝点水，保持身体的激活状态辣！\r\n按'Yes'键开始新一轮计时提醒。"/>
      
      <!--1: Show Desktop / 0: Not to show Desktop-->
      <add key="ShowDesktop" value="1" />
    </appSettings>
</configuration>